* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
  min-width: 480px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 11, 11, 0.9);
}

.popupContentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 31, 64);
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  line-height: 1.5;
  text-shadow: 2px 2px 0px #000;
}

.popupHeading {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.popupContent {
   color: yellow;
   line-height: 1.5;
   letter-spacing: 2px;
   margin-bottom: 20px;
}

ul {
  list-style-position: inside; 
  padding-left: 0;
  text-align: left;
  
}
 
.list {
  margin-bottom: 10px; 
  /* display: ; */
}


.popupContentContainer button {
  font-family: "Press Start 2P", cursive;
 /* font-size: 1rem; */
  /* margin-left: auto;  */
  align-self: flex-end;
  /* padding: 20px 30px; */
  /* font-size: 18PX; */
  cursor: pointer;
  background: red;
  border-radius: 30px;
  border:5px solid black;
  color: white;
  text-shadow: 2px 2px 0px #000;
  width: 200px;
  padding: 5%;
  font-size: 18px;
  /* box-shadow: inset -11px 10px 22px -3px rgba(255, 0, 0, 0.75); */
}

/* .popupContentContainer {

}

.popupContentContainer button {
  font-size: 1rem;
} */

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 35px auto;
  text-align: center;
  color: #fef2bf;
  text-shadow: 2px 2px 0px #000;
}

.container {
  /* margin: 30px auto; */
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  max-width: 480px;
}

.btn {
  /* margin: 20px; */
  height: 200px;
  max-width: 200px;
  margin: 5%;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#highScore {
  font-size: 2rem;
  color: #fef2bf;
  text-align: right;
  margin-right: 20px;
}

/* .container {
  margin: 5% auto;
}

.btn {
  margin: 5%;
} */



@media (max-width: 480px) {
  #level-title {
    font-size: 1.5rem;
  }

  .container {
    margin-top: 50px;
  }

  .content {
    line-height: 1.7;
 }

 .popupContentContainer button {
  align-self: center;
 }
 
 .popupContentContainer {
  overflow: auto;
  max-height: 80%;
  width: 80%;
}
}
